body {
    min-height: 200vh;
    background-color: green;
}
div {
    color: pink;
    width: 200px;
    height: 400px;
    background-color: yellow;
    border: 1px dotted orange;
}
#midColum {
    font-size: 100px;
}

#mainBody {
    mi
}

footer {
    min-height: 10vh;
}

#heroImage {
    max-width: 100px
}

.fourColumns {
    background-color: royalblue;
    min-height: 10vh;
    margin: 10px;
}

.topFourColumns {
    border: solid 1px black;
    
}
